<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <mat-input-container>
    <input
      matInput
      placeholder="Nombre"
      formControlName="firstName"
      id="firstName">
  </mat-input-container>

  <mat-input-container>
    <input
      matInput
      placeholder="Apellido"
      formControlName="lastName"
      id="lastName">
  </mat-input-container>

  <mat-input-container>
    <input
      matInput
      placeholder="Correo Electronico"
      formControlName="email"
      id="email">
  </mat-input-container>

  <mat-input-container>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
      id="password">
  </mat-input-container>

  <mat-input-container>
    <input
      matInput
      type="password"
      placeholder="Repita su Password"
      formControlName="rpassword"
      id="rpassword">
  </mat-input-container>

  <button type="submit" mat-raised-button color="accent">Registrarse</button>

  <p style="text-align: center">
    Ya tienes un usuario?
    <a [routerLink]="['/signin']" mat-button color="primary">Iniciar Sesion</a>
  </p>

</form>
