<mat-spinner *ngIf="loading" style="margin:auto">
</mat-spinner>

<div *ngIf="!loading">
  <mat-card class="example-card">

    <mat-card-header>
      <div mat-card-avatar>
        <i mat-list-icon class="{{question.icon}} icon"></i>
      </div>
      <mat-card-title>{{ question.title }}</mat-card-title>
      <mat-card-subtitle>
        <small>Mariano Villarreal - {{ question.createdAt | amLocale: 'es' | amTimeAgo}}</small>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ question.description }}
      </p>
    </mat-card-content>

  </mat-card>

  <div class="answers">

    <h4 id="title">Respuestas</h4>
    <ul class="answers-list" *ngIf="question.answers.length > 0">
      <li *ngFor="let answer of question.answers"><!-- Por cada respuesta se crea una de estas -->
        <h5 class="answer-user">
          {{ answer.user.firstName }} {{ answer.user.lastName }} <small>{{ answer.createdAt | amLocale: 'es' | amTimeAgo }}</small>
        </h5>
        <p class="answer-description">{{ answer.description }}</p>
      </li>
    </ul>

    <p class="answers-list" *ngIf="question.answers.length === 0">
      Sé el primero en responder esta pregunta
    </p>

    <app-answer-form [question]="question" class="answer-form">
    </app-answer-form> <!-- Respuestas -->

  </div>

</div>
