.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.icon {
  font-size: 38px;
}

.answers {
  padding-left: 17px;
}

.answers-list {
  padding: 0;
  list-style-type: none;
  padding-bottom: 180px;
}

h5 small {
  color: gray;
  font-weight: normal;
  font-size: smaller;
}

.answer-user {
  margin-bottom: 5px;
}

.answer-description {
  padding-left: 15px;
  border-left: 2px solid #eee;
  font-size: 14px;
}

.user-tagged {
  color: #3F51B5;
  text-decoration: none;
}

.answer-form { /* para colocar el formulario de respuestas abajo */
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  border-top: 1px solid #dcdcdc;
}
